
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="uhh, are you lost?" />
		<meta name="viewport" content="width=device-width" />
		<title>404</title>
	</head>
	<body>
		<div>
			<img src="/chino2.png" />
			<h1>404</h1>
			<p>Are you lost?</p>
			<p><a href="/">let's go home...</a></p>
		</div>
	</body>
</html>
<style>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color:white;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	h1,
	p{
		color: white;
		text-align: center;
		margin: 0.1em;
	}
	a {
		color: #35c9f7;
	}
	a:hover {
		color: aqua;
	}
	img {
		display: block;
		image-rendering: pixelated;
		width: 100px;
		margin-top: 3em;
	}
</style>